.navbar-brand small {
    font-size: 13px;
}
.requests-list .requests .route {
    position: absolute;
    left: 10px;
    font-weight: bold;
}
.requests-list .recent-log {
    padding-top: 20px;
}
.requests-list .requests .btn-remove {
    color: #ffffff;
}
.request-details .panel-heading .route {
    padding-left: 0px;
}
.container-empty {
    height: 80vh;
    padding-top: 15vh;
    font-size: 14px;
}
.container-features .row > div {
    border-right: none;
    border-left: none;
}
.container-features .row .bordered {
    border-right: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
}